// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$title-bar-height: 14vh;

.home-page-container {
  width: 100vw;
  height: 100vh - (2 * $title-bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-bar {
  height: $title-bar-height;
  position: relative;
  p {
    bottom: 0;
    position: absolute;
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .title-bar{
    margin-top: 5em;
  }
}
